@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --theme-color: #4448F5;
    --theme-themeC3: theme(colors.theme-c3);
    --theme-themeC4: theme(colors.theme-c4);
    /* --theme-color: theme(colors.theme);
    --theme-themeC3: theme(colors.theme-c3);
    --theme-themeC4: theme(colors.theme-c4); */
}
