@use "variables";
@use "mixins";

$themeColor: var(--theme-color);
$themeColor3: var(--theme-themeC3);
$f_f: "Plus Jakarta Sans", sans-serif;
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";

* {
  font-family: $f_f !important;
}
p {
  font-family: $f_f !important;
}

main {
  // padding: 1rem;
}
aside {
  &.main-sidebar {
    background-color: $themeColor3;
    height: calc(100vh - 1rem);
    position: sticky;
    top: 0.5rem;
    max-width: 70px;
  }
}
.home-section {
  height: calc(100vh - 74px);
  // margin-top: .5rem;
  & > div {
    height: 100%;
    background-color: #e9edef;
  }
}

.m-item {
  font-size: 10px !important;
  text-align: center;
  a {
    gap: 0.25rem;
    line-height: 1;
  }
  img {
    width: 1.1rem;
  }
}

.main-tab-indicator {
  border-radius: 5px 5px 0 0 !important;
  padding: 1.1rem 0rem 0rem 0rem !important;
}

.cd-tabs {
  .tabs-header {
    width: fit-content;
    li {
      padding: 0.5rem 1rem;
    }
  }
}
.bse-new-container {
  padding: 0.5rem;
  & > div {
    min-height: calc(100vh - 90px);
  }

  .wishlistBody-list {
    &ul {
      & > li {
        // background: #f0f4fb;
        // border-radius: 8px;
        // margin-bottom: .5rem;
        // padding: .25rem .5rem;
      }
    }
  }
}

.addcooment-Media {
  .ql-editor {
    min-height: 3rem;
    max-height: 9rem;
    overflow: auto;
    margin-bottom: 3rem;
  }
}

.react-pdf__Page {
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
}

.EditorComment .ql-container {
  min-height: 250px;
}

.EditorComment .ql-editor strong {
  font-weight: 900;
}
.EditorComment .ql-container.ql-snow {
  background-color: #e9edef;
}

table.forensicTable {
  thead tr {
    th {
      text-align: right;
    }
    th:nth-child(1) {
      text-align: left;
    }
  }
  tbody tr {
    td div {
      justify-content: end;
    }

    td:nth-child(1) div {
      justify-content: start;
    }
  }
}

// 04-May-2024
.smallInput > div > div {
  min-width: 106px;
}

.inputs-custom {
  .smallInput > div {
    min-width: 100px;
  }
}
div:has(.smallInput) {
  min-width: 106px;
}

div:has(.smallInput.two) {
  min-width: 50px;
}

.colorIconSelect-theme {
  svg {
    fill: #4448f5;
  }
}

.smallInput > div > div {
  min-width: 106px;
}

.inputs-custom {
  .smallInput > div {
    min-width: 100px;
  }
}
div:has(.smallInput) {
  min-width: 106px;
}

div:has(.smallInput.two) {
  min-width: 100px;
}

// .filterSidebar
::-webkit-scrollbar {
  height: 2px;              
    width: 4px;    
  // border: 1px solid #d5d5d5;
  background-color: #7D838E;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
}

.data2Tabels {
  overflow-x: scroll;
  table {
    tr {
      th label {
        padding: 2px;
      }
      td {
        padding: 5px 5px;
        white-space: nowrap;
      }
    }
    tfoot tr td {
      white-space: wrap;
    }
  }
}

.react-select__multi-value {
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  .react-select__multi-value__remove {
    background: #7d838e;
    width: 15px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    margin-right: 3px;
  }
}

// start 06-June-2024
.filterSidebar .sticky {
  padding-block: 0.5rem;
}
.screen-height {
  height: calc(100vh - 5.2rem);
}
.screen-height-Content {
  height: calc(100vh - 9.2rem);
}

.FilterSidebar-Content-Layout {
  display: flex;
  gap: 5px;
  // Apply styles for screens greater than 1023px
  @include mixins.respond-to(small-desktop) {
    > div:nth-child(1) {
      flex: 0 0 20%;
    }

    > div:nth-child(2) {
      flex: 0 0 80%;
    }
  }

  // Apply styles for screens greater than 1440px
  @include mixins.respond-to(large-desktop) {
    > div:nth-child(1) {
      flex: 0 0 15%;
    }

    > div:nth-child(2) {
      flex: 0 0 85%;
    }
  }
}

// End 06-June-2024
// End 10-June-2024

.custom-radio  + span svg{
  fill: #4448F5;
  height: 11px;
}
.wordBreakThead thead tr th{
  word-break: keep-all;
  word-wrap: break-word;
}
span.react-select__indicator-separator {
  background: none;
}


.main-body {
  width: calc(100% - 78px);
}


// End 10-June-2024