$themeColor: var(--theme-color);
$themeColor3: var(--theme-themeC3);
$f_f: "Plus Jakarta Sans", sans-serif;
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";



* {
  font-family: $f_f!important;
}
p {
  font-family: $f_f !important;
}

main {
  // padding: 1rem;
}
aside {
  &.main-sidebar {
    background-color: $themeColor3;
    height: calc(100vh - 1rem);
    position: sticky;
    top: 0.5rem;
    max-width: 70px;
  }
} 
.home-section {
  height: calc(100vh - 74px);
  // margin-top: .5rem;
  & > div {
    height: 100%;
    background-color: #e9edef;
  }
}

.m-item {
  font-size: 10px !important;
  text-align: center;
  a{
    gap: .25rem;
    line-height: 1;
  }
  img {
    width: 1.1rem;
  }
}

.main-tab-indicator {
  border-radius: 5px 5px 0 0 !important;
  padding: 1.1rem 0rem 0rem 0rem !important;
}

.cd-tabs {
  .tabs-header {
    width: fit-content;
    li {
      padding: 0.5rem 1rem;
    }
  }
}
.bse-new-container{
  padding: .5rem;
  &>div{
    min-height: calc(100vh - 90px);
  };

  .wishlistBody-list{
    &ul {
      &>li {
          // background: #f0f4fb;
          // border-radius: 8px;
          // margin-bottom: .5rem;
          // padding: .25rem .5rem;
      }
    }
  }
  
}

.addcooment-Media {
  .ql-editor.ql-blank {
  height: 85px;
  }
}

.react-pdf__Page {
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
}

.EditorComment .ql-container {
  min-height: 250px;
}

.EditorComment .ql-editor strong {
  font-weight: 900; 
}
.EditorComment .ql-container.ql-snow{
background-color: #E9EDEF;
}


table.forensicTable  {
  thead tr {
    th{
      text-align: right ;
    }
    th:nth-child(1){
      text-align: left;
    }
  }
  tbody tr {
    td div{
      justify-content: end;
    }

    td:nth-child(1) div{
      justify-content: start;
    }
      
  }
}


// 04-May-2024
.smallInput > div > div {
  min-width: 106px;
}


.inputs-custom {
  .smallInput > div {
    min-width: 100px;
  }
}
div:has(.smallInput){
  min-width: 106px;
}

div:has(.smallInput.two){
  min-width: 50px;
}

// .filterSidebar
// ::-webkit-scrollbar {
//   // height: 4px;              
//   width: 4px;    
//   // border: 1px solid #d5d5d5;
//   // background-color: #7D838E;
// }

.filterSidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the scrollbar track */
}

.filterSidebar::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
}

.data2Tabels  {
  overflow-x: scroll;
  table {
    tr {
      th  label {
        padding: 2px;
      }
     td{
        padding: 5px 5px;
        white-space: nowrap;
      }
    }
    tfoot tr td{
      white-space: wrap;
    }
  }

}

.react-select__multi-value {
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  .react-select__multi-value__remove{
    background: #7D838E;
    width: 15px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    margin-right: 3px;
  }
}
// 04-May-2024